:root {
  --bg: black;


  --control-margin: 60px;
  --top-margin: calc(var(--control-margin));

  --color-0: #585858;
  --color-1: #ab4642;
  --color-2: #dc9656;
  --color-3: #f7ca88;
  --color-4: #a1b56c;
  --color-5: #86c1b9;
  --color-6: #7cafc2;
  --color-7: #ba8baf;

  --color-merveilles: #72dec2;
  --color-grey: #151515;

  --uxn-max-width: 1000px;
  --uxn-max-height: 640px;

  --border: #444;
  --border-px: 1px;
}

body {
  margin-top: 0px;
  background-color: var(--bg);
  font-family: 'Fira Mono';
}

button {
  margin: 2px;
  background-color: var(--bg);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

#noscript {
  top: 200px;
  background-color: white;
  color: black;
  font-size: 20px;
}

#noscript a {
  text-decoration: underline;
}


#uxnemu {
  width: 50vw;
  display: flex;
}

#uxnemu-iframe {
  height: calc(50vh - var(--top-margin));
  width: 50%;
  border: var(--border-px) dotted var(--border);
  position: fixed;
}

#uxnasm-iframe {
  display: none;
}

#console-wrap {
  margin: 10px;
  position: fixed;
  height: calc(50% - var(--top-margin));
  width: 100%;
  z-index: 10;
  color: white;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0px;
}

#console {
  color: #252525;
  font-size: 16px;
}

#controls-wrap {
  position: absolute;
  top: 0px;
}

#controls {
  position: fixed;
  width: 100%;
  display: flex;
  z-index:10
}

.flex {
  display: flex;
  width: 100%;
  height: calc(100% - var(--top-margin) - 5px);
  position: absolute;
  top: var(--top-margin);
}

.hidden {
  display: none;
}

.comment {
  color: var(--color-0);
}

.stack-opcode {
  color: var(--color-1);
}

.logic-opcode {
  color: var(--color-2);
}

.memory-opcode {
  color: var(--color-3);
}

.arithmetic-opcode {
  color: var(--color-4);
}


.rune-sublabel {
  color: var(--color-6);
}

.rune-hexliteral {
  color: var(--color-5);
}

.rune-label {
  color: var(--color-7);
}

/** Controls **/

.control {
  color: white;
  flex-grow: 1;
  text-align: center;
  transition: 0.3s;
}

.control:hover {
  cursor: pointer;
  filter: drop-shadow(0mm 1mm 0mm white);
}

#roms {
  background-color: var(--color-1);
}

#assemble {
  background-color: var(--color-2);
}

#save {
  background-color: var(--color-3);
}

#load {
  background-color: var(--color-4);
}

#about {
  background-color: var(--color-5);
}

/* The dropdown container */
.dropdown {
  z-index: 10;
}

.dropdown:hover {
  filter: invert(100);
}

/* Dropdown button */
.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }

/* Add a background color to .navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: var(--color-low);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: inherit;
  filter: brightness(0.85);
}

  /* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:active.dropdown-content {
	display: block;
}

/* keyframe bullshit */
.pulse {
	animation: pulse 5s infinite;
  background-color: white;
  animation-direction: alternate;
  transform-origin: 30% 5%;
  border: var(--border-px) solid black;
}

@keyframes pulse {
	0% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
    filter: invert(0)
	}

	50% {
    transform: translateY(5px);
    animation-timing-function: ease-out;
    filter: invert(100);
	}
}

/** Editor **/
#editor-wrapper {
  width: 50vw;
}

#editor {
  background-color: black;
  float: left;
  border: var(--border-px) solid var(--border);
  width: 100%;
}

.cm-editor {
  color: #888888;
  background: black;
}

.cm-editor .cm-focused {
}

.cm-editor .cm-content {
}

.cm-editor .cm-focused .cm-cursor {
  border-left-color: white;
}

.cm-editor .cm-focused .cm-selectionBackground, .cm-selectionBackground, ::selection {
  background-color: #151515;
}

.cm-editor .cm-activeLine {
  background-color: #252525;
}

.cm-editor .cm-gutters {
  background-color: black;
  color: grey;
,

.cm-editor .cm-activeLineGutter {
  background-color: #707070;
}
